
/*------------------------------------------------------------ Mobile Device ------------------------------------------------------------------------------------------ */

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .webpage{
        zoom: 1.4;
        transform: scale(1); /* Standard Property */
        transform-origin: 5 5;  /* Standard Property */
      
        
    }
  
  header {
      text-align: center !important;
      background-color: #000000;
      border-style: groove;
      border-color: magenta;
      padding: 3vw;
    
  }
  
  h1 {
      text-align: center !important;
      color: #ffff04;
      font-size: 5vw;
      letter-spacing: 2px;
      text-shadow: #FC0 1px 0 3px;
  
  
  }
  
  body {
  
      background-color: #9c53e4;
      line-height: 2.0;
      font-size: 4vw;
      text-align: left !important;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      color: rgb(255, 255, 255);
      text-shadow: rgb(215, 182, 255) 1px 0 11px;
      transform: scale(1.1);
      transform-origin: 0 0;
     
      
  
      
  }
  
  
  /* -------------------------------------------------Label Decoration-------------------------------------------------*/

  label[for=fivek] {
  
      color: aqua;
      text-shadow: black 3vw 0 7vw;
  
  }
  
  label[for=half] {
  
      color: yellow;
      text-shadow: black 3vw 0 7vw;
  
  }
  
  label[for=full] {
      color: red;
      text-shadow: black 3vw 0 7vw;
  
  }
  
  
  /*-------------------------------------------Decoration for all inputs -----------------------------------------*/
  
  input {
  
      background-color: #000000;
      color: yellow;
      border-color: #ffff04;
      box-shadow: magenta 100px 0 100px;
      border-radius: 600px;
      width: 92vw;
      height: 10vw;
      font-size: 3vw;
      font-style: italic;
      text-align: center;
  
  }
  
  select {
  
      color: #ffff04;
      background-color: #000000;
      border-color: #ffff04;
      box-shadow: magenta 2vw 0 11vw;
      font-style: italic;
      font-size: 3vw;
    
  }
  
  button {
  
      color: white;
      background-color: green;
      box-shadow: magenta 1px 0 10px;
      
  }
  
  
  /* ----------------------------------button hover animation----------------------------------- */
  
  button {
  
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      width: 125px;
      height: 30px;
      border-radius: 20px;
      border-style: double;
      border-color: magenta;
  
  }
  
  button:hover {
  
      padding-right: 26px;
      padding-left: 8px;
      box-shadow: yellow 1px 0 10px;
      border-radius: 5px;
  }
  
  button:after {
  
      content: '<<';
      position: absolute;
      opacity: 0;
      top: 5px;
      right: -40px;
      transition: 0.8s;
      text-shadow: yellow 1px 0 10px;
      
  }
  
  button:hover:after {
  
      opacity: 80;
      right: 20px;https://Sample-site.godcodeenabled.repl.co
  }
  
  
  /* ---------------------------------input hover animation------------------------------------------------*/
  
  input[type=radio] {
  
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      width: fit-content;
      height: fit-content;
  
  
  }
  
  input {
  
      cursor: text;
      display: inline-block;
      position: relative;
      transition: 0.1s;
  }
  
  input:hover {
  
      padding-right: 2px;
      padding-left: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      box-shadow: yellow 1px 0 10px;
      border-radius: 10px;
  
  }
  
  input:after {
  
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0px;
      right: 50px;
      transition: 0.8s;
     
  }
  
  input:hover:after {
  
      opacity: 80;
      right: 15px;
  }
  
  /* ------------------------------------------select hover animation------------------------------------------------*/
  
  select {
  
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      height: 25px;
      width: 200;
      font-size: medium;
  }
  
  select:hover {
  
      padding-right: 2px;
      padding-left: 2px;
      padding-top: 4px;
      padding-bottom: -10px;
      box-shadow: yellow 1px 0 13px;
      border-radius: 10px;
  
  }
  
  select:after {
  
      content: '>>';
      position: relative;
      opacity: 20;
      top: 0px;
      right: 48px;
      transition: 0.2s;
  
  }
  
  select:hover:after {
  
      opacity: 80;
      right: 15px;
  }
}

/*--------------------------------------------------for widescreen ------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------for widescreen -------------------------------------------*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 4096px) {

    .webpage{
        zoom: 1;
        transform: scale(1); /* Standard Property */
        transform-origin: 0 0;  /* Standard Property */
    }

  header {
      text-align: center !important;
      background-color: #000000;
      border-style: groove;
      border-color: magenta;
      padding: -50%;
  }
  
  h1 {
      text-align: center !important;
      color: #ffff04;
      font-size: 4vw;
      letter-spacing: 2px;
      text-shadow: #FC0 1px 0 3px;
  
  
  }
  
  body {
  
      background-color: #7529c2;
      line-height: 3;
      font-size: 2vw;
      text-align: center;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      color: rgb(255, 255, 255);
      text-shadow: rgb(215, 182, 255) 1px 0 11px;
  
  }
  

  /* -------------------------------------------------Label Decoration-------------------------------------------------*/

  label[for=fivek] {
  
      color: aqua;
      text-shadow: black 2px 0 7px;
  
  }
  
  label[for=half] {
  
      color: yellow;
      text-shadow: black 2px 0 7px;
  
  }
  
  label[for=full] {
      color: red;
      text-shadow: black 2px 0 7px;
  
  }
  
  
  /*-------------------------------------------Decoration for all inputs -----------------------------------------*/
  
  input {
      
      background-color: #000000;
      color: yellow;
      border-color: #ffff04;
      box-shadow: magenta 1px 0 10px;
      border-radius: 600px;
      width: 500px;
      height: 45px;
      font-size: 1.1vw;
      font-style: italic;
      text-align: center !important;
  
  }
  
  select {
  
      color: #ffff04;
      background-color: #000000;
      border-color: #ffff04;
      width: 14vw;
      font-size: 1.5vw;
      box-shadow: magenta 1px 0 10px;
      font-style: italic;
      
      
  }
  
  button {
  
      color: white;
      background-color: green;
      box-shadow: magenta 1px 0 10px;
      
      
  }
  
  
  /* ----------------------------------button hover animation----------------------------------- */
  
  button {
  
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      width: 125px;
      height: 30px;
      border-radius: 20px;
      border-style: double;
      border-color: magenta;
  
  }
  
  button:hover {
  
      padding-right: 26px;
      padding-left: 8px;
      box-shadow: yellow 1px 0 10px;
      border-radius: 5px;
  }
  
  button:after {
  
      content: '<<';
      position: absolute;
      opacity: 0;
      top: 5px;
      right: -40px;
      transition: 0.8s;
      text-shadow: yellow 1px 0 10px;
      
  }
  
  button:hover:after {
  
      opacity: 80;
      right: 20px;
  }
  
  
  /* ---------------------------------input hover animation------------------------------------------------*/
  
  input[type=radio] {
  
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      width: fit-content;
      height: fit-content;
  
  
  }
  
  input {
  
      cursor: text;
      display: inline-block;
      position: relative;
      transition: 0.1s;
  }
  
  input:hover {
  
      padding-right: 2px;
      padding-left: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      box-shadow: yellow 1px 0 10px;
      border-radius: 10px;
  
  }
  
  input:after {
  
      content: '>>';
      position: absolute;
      opacity: 0;
      top: 0px;
      right: 50px;
      transition: 0.8s;
     
  }
  
  input:hover:after {
  
      opacity: 80;
      right: 15px;
  }
  
  /* ------------------------------------------select hover animation------------------------------------------------*/
  
  select {
  
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
      height: 25px;
      width: 200;
      font-size: medium;
  }
  
  select:hover {
  
      padding-right: 2px;
      padding-left: 2px;
      padding-top: 4px;
      padding-bottom: -10px;
      box-shadow: yellow 1px 0 13px;
      border-radius: 10px;
  
  }
  
  select:after {
  
      content: '>>';
      position: relative;
      opacity: 20;
      top: 0px;
      right: 48px;
      transition: 0.2s;
  
  }
  
  select:hover:after {
  
      opacity: 80;
      right: 15px;
  }
}
